/** Global styles for the Publix ZUI5Library **/

.sapMUSNoDataText {
	align-items: center !important;
}

.sapMUSFileName {
	flex-shrink: 0;
}

.sapMUSObjectMarkerContainer {
	display: inline-block;
}

.sapMUSProgressBox {
	min-width: 120px;
	padding-left: 1rem;
}

.sapMUSProgressIndicator {
	padding: 5px;
}